body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {margin: 0;}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    height: auto;
    position: relative;
    overflow: auto;
  }

  ul.sidenav li a {
    display: block;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 15px;
  }

  ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
  }

  ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    padding: 1px 16px;
    height: 1000px;
  }

  

  @media screen and (max-width: 430px) {
    ul.sidenav {
        position: fixed;
        height: 100%;
        width: 25%;
    }
    ul.sidenav li a {
      text-align: center;
      float: none;
      padding: 8px 16px;
    }
    div.content{
        margin-left: 25%;
    }
  }


